<a href="https://colab.research.google.com/github/deeplearningexplore/siamese/blob/main/question_pairs_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# !pip install -q kaggle
# from google.colab import files
# files.upload()
# ! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle competitions download -c quora-question-pairs

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading test.csv.zip to /content
 77% 88.0M/114M [00:00<00:00, 113MB/s]
100% 114M/114M [00:00<00:00, 167MB/s]
Downloading train.csv.zip to /content
 43% 9.00M/21.2M [00:00<00:00, 15.8MB/s]
100% 21.2M/21.2M [00:00<00:00, 31.0MB/s]
Downloading sample_submission.csv.zip to /content
100% 4.95M/4.95M [00:00<00:00, 38.3MB/s]

test.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import os
import zipfile
import pandas as pd

%matplotlib inline

In [4]:
zip = zipfile.ZipFile("test.csv.zip", "r")
zip.extractall("./data")

In [5]:
zip = zipfile.ZipFile("train.csv.zip", "r")
zip.extractall("./data")

zip.close()

In [7]:
!rm "train.csv.zip"
!rm "test.csv.zip"

In [10]:
train_data = pd.read_csv("./data/train.csv")
test_data = pd.read_csv("./data/test.csv")
print(train_data.head())
print(test_data.head())

   id  qid1  ...                                          question2 is_duplicate
0   0     1  ...  What is the step by step guide to invest in sh...            0
1   1     3  ...  What would happen if the Indian government sto...            0
2   2     5  ...  How can Internet speed be increased by hacking...            0
3   3     7  ...  Find the remainder when [math]23^{24}[/math] i...            0
4   4     9  ...            Which fish would survive in salt water?            0

[5 rows x 6 columns]
   test_id  ...                                          question2
0        0  ...  Why did Microsoft choose core m3 and not core ...
1        1  ...        How much cost does hair transplant require?
2        2  ...                      What you send money to China?
3        3  ...                                  What foods fibre?
4        4  ...                     How their can I start reading?

[5 rows x 3 columns]

In [15]:
train_data.columns

Index(['id', 'qid1', 'qid2', 'question1', 'question2', 'is_duplicate'], dtype='object')

In [16]:
train_data = train_data[train_data["is_duplicate"]==1]
train_data.head()

    id  qid1  ...                                          question2 is_duplicate
5    5    11  ...  I'm a triple Capricorn (Sun, Moon and ascendan...            1
7    7    15  ...          What should I do to be a great geologist?            1
11  11    23  ...             How can I see all my Youtube comments?            1
12  12    25  ...            How can you make physics easy to learn?            1
13  13    27  ...             What was your first sexual experience?            1

[5 rows x 6 columns]

In [17]:
train_d1 = train_data['question1'].values
train_d2 = train_data['question2'].values

In [18]:
train_d1.shape

(149263,)

In [23]:
train_d = np.concatenate([train_d1,train_d2])

In [24]:
train_d.shape

(298526,)

In [25]:
oov_token = "<ukw>"
pad = "post"

In [26]:
tokenizer = tf.keras.preprocessing.text.Tokenizer(oov_token=oov_token)
tokenizer.fit_on_texts(train_d)
word_index = tokenizer.word_index

In [27]:
len(word_index)

31468

In [28]:
train_data1 = tokenizer.texts_to_sequences(train_d1)

In [30]:
train_data2 = tokenizer.texts_to_sequences(train_d2)

In [36]:
word_index["bus"]

6726

In [42]:
def data_generator(q1,q2,batch_size):
  indexes = list(range(len(q1)))
  indexes = tf.random.shuffle(indexes)
  length = len(q1)
  input1 = []
  input2 = []
  index = 0

  while True:
    if index==length:
      index = 0
      indexes = tf.random.shuffle(indexes)
    
    input1.append(q1[indexes[index]])
    input2.append(q2[indexes[index]])

    index+=1

    if len(input1)==batch_size:
      max_length = np.max((np.max([len(x) for x in input1]),np.max([len(x) for x in input2])))
      max_length = 2**int(np.ceil(np.log2(max_length)))

      input1 = tf.keras.preprocessing.sequence.pad_sequences(input1,maxlen=max_length,padding=pad,truncating=pad)
      input2 = tf.keras.preprocessing.sequence.pad_sequences(input2,maxlen=max_length,padding=pad,truncating=pad)

      yield np.array(input1),np.array(input2)

      input1 = []
      input2 = []

In [46]:
a,b=next(data_generator(train_data1,train_data2,1))

In [48]:
print(a[0])
print(b[0])

[ 34 878 190   7   2 182   0   0   0   0   0   0   0   0   0   0]
[  87   68   39 1410  190 8187   62   72 2182   20  182    0    0    0
    0    0]